.flipInX {animation: flipInX 2s;}
.flipInY {animation: flipInY 2s;}
.flipInZ {animation: flipInZ 2s;}

@keyframes flipInX {
  0% {transform:rotateX(0deg) scale(0);}
  100% {transform:rotateX(720deg) scale(1);}
}
@keyframes flipInY {
  0% {transform:rotateY(0deg) scale(0);}
  100% {transform:rotateY(720deg) scale(1);}
}
@keyframes flipInZ {
  0% {transform:rotateZ(0deg) scale(0);}
  100% {transform:rotateZ(720deg) scale(1);}
}
